@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
/* CSS Document */

body{
	background-color: ghostwhite;
	align-content: center;
	text-align: center;
	margin: 0;
	padding: 0;
	color: #f15a22;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

.logo{
	align-content: center;
	max-width: 400px;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.header{
	color: white;
	font-family: tahoma;
	text-shadow: 1px 1px 4px black;
	font-size: 2.5em;
}

.login{
	background-color: white;
	max-width: 300px;
	display: block;
  margin-left: auto;
  margin-right: auto;
	margin-bottom: 100px;
	padding-top: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px black;
}

.form{
	color: #f15a22;
	display: block;
  margin-left: auto;
  margin-right: auto;
	width: 500px;
	height: auto;
	
}

.form-control{
	background-color: lightgrey;
	padding: 5px 5px 5px 10px;
	width: 80%!important;
}

input{ 
	border: none;
	border-radius: 100px;
	color:green!important;
}

.form-floating{
	margin: 10px;
}

