@charset "utf-8";
/* CSS Document */

body{
	background-color: #f15a22!important;
	align-content: center;
	margin: 0;
	padding: 0;
	color: black;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	min-height: 100%;
	height: 100%;
	position: relative;
}

.header{
	width: auto;
	height: 100px;
	padding: 20px;
	align-content: center;
}

.logo{
 width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.title{
	color: slategray;
	font-family: tahoma;
	width: auto;
	display: inline-block;
}

.main{
	background-color: white;
	max-width: 1200px;
	height: auto;
	max-height: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px black;
}

#account{
	float: right;
	display: inline-block;
	line-height: 50%;
}

#accordion{
	width: auto;
}

.accordion-body{
	max-height: 320px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.accordion-button::after{
display: none;
}

.accordion-item{
    border: none!important;
}

.accordion-button{
	background-color: slategrey!important;
	color: white!important;
    border: none!important;
	height: 75px;
}

.accordion-header{
    border: none!important;
}

  .accordion-button:not(.collapsed){ 
}



ul {
    list-style-type: none;
	margin: 0px!important;
	padding: 0px!important;
  }

.label{
	margin-left: 5px;
}

.location{
	max-height: 20px;
	max-width: 135px;
	display: inline-block;
	font-size: 9pt;
}

.PO{
	max-height: 20px;
	max-width: 100px;
	display: inline-block;
	font-size: 9pt;
}

.filter-btn{
	height: 25px;
	font-size: 8pt;
	display: inline-block;
	background-color: #f15a22;
	border: none;
	border-radius: 20px;
	color: white;
	margin-left: 5px;
	padding: 5px 10px 5px 10px;
}

.filter-btn:hover{
	height: 25px;
	font-size: 8pt;
	display: inline-block;
	background-color: slategray;
	border: none;
	border-radius: 20px;
	color: white;
	margin-left: 5px;
	padding: 5px 10px 5px 10px;
}


#line-break{
	border-bottom: 1px solid black;
	margin-top: 15px;
}

.dropdown{
	max-height: 20px;
	font-size: 9pt;
	margin-left: 5px;
	color: grey;
}

.filter-dropdown{
	width: 33%;
	 text-align-last:center;
	color: white;
	font-weight: 700;
	border: none;
	height: 50px;
	border-radius: 5px;
}

.filter-dropdown:hover{
	background-color: slategray!important;
}


#scheduled{
	background-color: orange;
}

#new{
	background-color: darkred;
}

#service-completed{
	background-color: darkgreen;
}


.date{
	max-height: 20px;
	font-size: 9pt;
	color: grey;
	width: 125px;
}

.closed-buttons{
	width: 49%;
	 text-align-last:center;
	color: white;
	font-weight: 700;
	border: none;
	height: 50px;
	border-radius: 5px;
}

.closed-buttons:hover{
	background-color: slategray!important;
}

#billed{
	background-color:indigo;
}

#invoiced{
	background-color:steelblue;
}

footer{
	background-color: white;
	color: #f15a22;
	position: absolute;
	width: 100%;
	text-align: center;
	padding: 5px;
}

#contact-link{
	color: slategray;
}

#footer-contact{
	color: slategray;
}

#page-container {
  position: relative;
  min-height: 925px;
}

#content-wrap {
  padding-bottom: auto;    /* Footer height */
}

